$body-bg: #F7F8F9;
$theme-colors: (
	"primary": #0967D2,
	"secondary": #F7F8F9,
);

$font-family-sans-serif: Inter, arial, sans-serif;

$padding: 20px 100px;

$shadow-lg: 0px 20px 100px rgba(0,0,0,0.05);
$shadow-sm: 0px 2px 5px rgba(0,0,0,0.05);
